## Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

## ASP.NET Core
bin/
obj/
##wwwroot/node_modules/
##wwwroot/lib/

## Build
*.dll
*.exe
*.pdb
*.app
*.so
*.dylib
*.log

## User-specific files
##*.env
##*.config
##appsettings.*.json
##secrets.json

## Logs and database
logs/
*.log
*.ldb
*.mdf
*.ldf
*.sqlite
*.db-shm
*.db-wal

## Package managers
node_modules/
npm-debug.log
yarn-error.log

## Docker

**/docker-compose.*
**/docker-compose.override.*
**/obj/Docker/

## Rider (JetBrains)
.idea/
*.iml
out/

## MacOS
.DS_Store

## Windows
Thumbs.db
Desktop.ini

## Other
*.bak
*.cache


# appsettings*.json
!Comina.Travel.Api/appsettings.json
!Comina.Travel.Api/appsettings.Production.json
!Comina.Travel.Api/appsettings.Development.json
